extends layout

block content
  .interface
    section.projects
      header Projects
      main
        ul
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283
          li.active: a(href="#") 592939538-283

    section.detail-pane
      h1 Order #592939538-283

      .order-menu
        nav
          ul
            li: a.save(role="button" href="#") Save
            li: a(href="#") Cancel

          ul
            li
              ul.modify(role="button")
                li: a(href="#") Modify
                li
                  button.button-dropdown
                  ul
                    li: a(href="#") Choose
